  <div class="serc">
        <form action="/search" method="GET">
    <input type="text" name="query" placeholder="Buscar" required>
    <button type="submit">Buscar</button>
  </form>
    </div>
<div class="bdy">
   <!--{{>generos title="Generos"}}-->
    
   <div class="card_grip">
     {{#if portadas.length}}
     {{#each portadas}}

<div class="card">
    
       <a href="/info/cap/{{_id}}"><img src="{{imageUrl}}" alt=""></a>  
       <div class="card_cont_title">
          <a href="/info/cap/{{_id}}" class="title_card"><strong><p>{{title}}</p></strong> </a>  
       </div>
</div>
 {{/each}}
 {{else}}
 <p>No se encontraron mangas.</p>
    {{/if}}
</div>
</div>
 {{>carrusel}}
 
 