 <div class="cont_info">
  <div class="cont_info2">
 <img src="{{infoCapitul.imageUrl}}" alt="">
 <p><b>{{infoCapitul.title}}</b></p>
  
   <p><b>Genero:</b> {{infoCapitul.genero}}</p>
    <p><b>Emision:</b> {{infoCapitul.emision}}</p>
 
 </div>
 <div class="descr">
  <p>{{infoCapitul.description}}</p>
  
  <h1>Capitulos</h1>
    <div class="descr2">
         {{#each infoCapitul.ref_capitulo}}
         <div class="descr_inf">
           <a href="/cap/imgs/{{_id}}"><p>{{nombre_capitulo}}</p></a>
    
         </div>
     
  {{/each}}
    </div>
  
 </div>
 </div>
  
